@font-face {
    font-family: 'ralewaythin';
    src: url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'ralewaythin';
    
}
h4{
    font-size: 12px;
    text-align: right;
    justify-content: space-between;
    margin-left: 10px;
    
}
.menu-blue{
    position: absolute;
    right: 30px;
    border-top: none;
    
}
.black{
    color: grey;
    text-decoration: none;
}
.blue{
    color: #0065FC;
    text-decoration: none;
}
.blueclair{
    color: #97b6e4;
    text-decoration: none;
    margin-right: 40px;
    border-top: solid #0065FC 2px;
    width: 60px;
    padding-top: 23px;
}
h1{
    padding-left: 15px;
    font-size: 20px;
    margin-top: 40px;
}
h2{
    margin-left: 20px;
}
.filter{
    border: 2px solid #F2F2F2; 
    border-radius: 50px;
    padding-right: 15px;
    margin-left: 30px;
    cursor: pointer;
}
.filter i{
    background-color: #DEEBFF;
    border-radius: 50px;
    padding:10px;
}
    
.fas{
    color:#0065FC;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
}
#logo img{
    width: 100px;
    height: 60px;
}
.btn{
    display: flex;
    margin-top: 30px ;
    
}
.btn1{
    display: flex;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px 0px;
    margin-top: 0px;
}
.menu{
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    margin-right: 110px;
}
.conteneur {
    width: 65%;
    padding: 5px;
    background-color:#F2F2F2;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}
.lodging-block {
    display: flex; 
    flex-direction: column; 
    padding: 5px; 
    background-color: #FFFFFF; 
    border-radius: 15px; 
    margin-right: 10px; 
    margin-left: 10px;
    box-shadow: 5px 5px 5px 5px #F2F2F2;
}
.lodging-block h3, .lodging-block h4 {
    text-align: left; 
    margin: 0px; 
    margin-top: 5px;
}
#conteneur img{
    display: flex;
    align-items: flex-start;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 280px;
    height: 150px;
    margin: 0px 0px 0px 0px;
}
.stars {
    margin-top: 5px;
}
.conteneur4 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 5px;
    background-color:#F2F2F2;
    border-radius: 15px;
    margin: 0px 10px 0px 10px;
}
.lodging-block2{
    display: flex; 
    padding: 5px; 
    background-color: #FFFFFF; 
    border-radius: 15px; 
    margin-right: 10px; 
    margin-left: 10px;
    margin-bottom: 15px;
}
.conteneur5 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.lodging-block3{
    display: flex; 
    flex-direction: column; 
    padding: 0px; 
    background-color: #FFFFFF; 
    box-shadow: 5px 5px 5px 5px #F2F2F2;
    border-radius: 15px; 
    margin-right: 10px; 
    margin-left: 15px;
}    
.conteneur6 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
}  
.lodging-block4{
        display: flex; 
        flex-direction: column; 
        padding: 0px; 
        background-color: #FFFFFF; 
        box-shadow: 5px 5px 5px 5px #F2F2F2;
        border-radius: 15px; 
        margin-right: 10px; 
        margin-left: 15px;  
        margin-top: 40px;
}  
.conteneur7 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 5px;
}    
.conteneur8 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
}   
.conteneur5678{
    display: flex;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
} 
.conteneur h3 .conteneur h5 {
    text-align: left;
    margin: 0px;
    margin-top: 5px;
    padding: 5px;
}
.stars {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
} 
.star{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-left: 10px;
}
.burs i{
    color: black;
    margin-left: 190px;
}
.info i{
    font-size: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    padding: 5px 8px 5px 8px ;
    margin: 20px 10px 20px 5px;
    cursor: pointer;
}
.plus{
    text-decoration: none;
    color: black;
}
.flattont{
    float: left;
}
.conteneur img {
    display: flex;
    align-items: flex-start;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 280px;
    height: 150px;
    
}    
.conteneur4 img {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 200px;
    height: 150px;
    margin: 0px 0px 0px 0px;

}    
.conteneur5 img{
    display: flex;
    flex-direction: flex-start;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 300px;
    height: 400px;
}
.conteneur6 img{
    display: flex;
    flex-direction: flex-start;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 300px;
    height: 150px;
}
.conteneur7 img{
    display: flex;
    flex-direction: flex-start;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 300px;
    height: 400px;
}
.conteneur8 img{
    display: flex;
    flex-direction: flex-start;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 300px;
    height: 150px;
}

h2{
  font-size: 20px;
}
p{
    display: flex;
    flex-direction: row;
    font-size: 14px; 
    padding: 5px;
    padding-left: 20px;
}
.search-box i{
    padding: 10px;
    text-align: center;
    color: black;
    background-color:#F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    

}
.search-box{
    display: flex;
    position: left;  
    width: 20px;
    height: 40px;
    margin-top: 20px;
    margin-left: 15px;
}
.borderNone{
    border: solid #F2F2F2 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.search-btn{
display: flex;
justify-content: center;
align-items: center;
color:#0065FC;
width: 30px;
border-radius: 10%;
}
.recherch{
    background-color:#0065FC;
    color: white;
    padding: auto;
    border-radius: 0px 10px 10px 0px;
}
.recherch i{
    display: none;
}
button{
    background-color:white;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    }
    .pied {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F2F2F2;
        padding: 10px 40px 10px 0px;
    }
    ul{
        list-style: none;
    }
    li{
        font-size: 14px;
        margin: 5px;
        margin-left: -20px;
        margin-right: 300px;
    }
    .puse{
        text-decoration: none;
        color: black;
    }
    h5{
        margin-left: 10px;
    }
    h6{
        margin-left: 10px;
    }
    section{
        display: flex;
    }
    @media all and (max-width: 1024px){
    body{
        padding: 10px;
    }
    #logo{
        padding-left: 0px;
    }
    .search-box{
        min-width: 90%;
        margin-left: 0px;
        margin-bottom: -30px;
    }
    .search-text{
        width: 80%;
    }
    .search-btn{
        max-width: 10px;
    }
    button{
        width: 50px;
    }
    .recherch span{
        display: none;
    }
    .recherch i{
        display: block;
        color: #FFFFFF;
        background-color: #0065FC;
    }
    .recherch{
        border-radius: 10px 10px 10px 10px;
    }
    .conteneur4{
        flex-direction: column;
        width: 100%;
        margin: 0px;
        margin-top: 30px;
        border-radius: 0px;
    }  
    .conteneur4 img{
        width: 120px;
    }
    .burs i{
        margin-left: 68px;
    }
    .info i{
        margin: 20px 10px 0px 0px
    }
    .conteneur{
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        margin: 0px;
        margin-left: -5px;
    }
    .text-hebergement{
        margin-left: 10px;
    }
    .conteneur img{
        width: 100%;
    }
    .hebergement{
        flex-direction: column-reverse;
    }
    .conteneur5678{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    .row{
        flex-direction: column;
        margin: 0px;
    }
    .lodging-block{
        flex-direction: column;
        margin-bottom: 15px;
        width: auto;
        padding: 0px;
    }
    .lodging-block2{
        display: flex;
        text-align: left;
    }
    .lodging-block3{
        flex-direction: column;
        width: 100%;
        margin: -8px 0px 0px 0px;
        padding: 0px;
    }
    .lodging-block4{
        flex-direction: column;
        width: 100%;
        margin: 0px 0px 14px 0px;
        padding: 0px;
    }
    .menu{
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        }
        #logo{
            flex-direction: column;
        }
    .btn, .btn1{
        flex-wrap: wrap;
        width: 100%;
        margin-left: -3px;
    }  
    .filter{
        margin: 10px;
    }

    .pied{
        flex-direction: column;
        padding-left: 10px;
    }
    .conteneur5678 img{
        height: 130px;
        width: 100%;
        margin: 0px;
    }
    .conteneur5{
        margin: 0px 0px 5px 0px;
    }
    .conteneur6{
        margin: 0px 0px 0px 0px;
    }
    .conteneur7{
        margin: 0px 0px 5px 0px;
    }
    .conteneur8{
        margin: 0px;
    }
    h1{
        padding-left: 0px;
    }
    h2{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    li{
        margin-right: 0px;
        margin-left: -35px;
    }
    p{
        padding-left: 5px;
        margin-bottom: -10px;
    }
    .blueclair{
        border-top: none;
        border-bottom: solid 3px #0065FC;
        padding-bottom: 15px;
        border-width: 50%;
    }
    .black{
        margin-right: 30px;
        border-bottom: solid 3px #F2F2F2;
        padding-bottom: 15px;
        border-width: solid 50%;
    }
    .blue{
        margin-right: -10px;
    }
    .burs{
        margin-left: 15px;
    }
    .borderNone{
        border-right: none;

    }
   
    
    }

